### Surgery Portfolio CSV Generation

In [17]:
import pandas as pd
import random

def generate_surgery_portfolio(num_surgeries_dict):
    surgery_data = []
    surgery_id = 0  # Start with an initial ID
    for surgery_type, count in num_surgeries_dict.items():
        for _ in range(count):
            wait_time = random.randint(1, 1)  # Days since admission
            surgery_data.append({
                'surgery_id' : surgery_id,
                'surgery_type': surgery_type,
                'admitted_date': wait_time,
            })
            surgery_id += 1  # Increment the ID for each surgery

    surgery_portfolio = pd.DataFrame(surgery_data)
    surgery_portfolio = surgery_portfolio.sample(frac=1).reset_index(drop=True)  # Shuffle the entries
    return surgery_portfolio

num_surgeries = {
    "Cardiovascular": 50,
    "Neurological": 50,
    "Orthopedic": 50,
    "Gastrointestinal": 50,
    "Cosmetic": 50,
}

# Generate the surgery portfolio DataFrame
surgery_portfolio_df = generate_surgery_portfolio(num_surgeries)
surgery_portfolio_df = surgery_portfolio_df.sort_values(['surgery_id'])
surgery_portfolio_df.to_csv("surgery_portfolio.csv", index=False)  # Save the DataFrame to CSV without the index

In [18]:
surgery_portfolio_df

     surgery_id    surgery_type  admitted_date
45            0  Cardiovascular              1
81            1  Cardiovascular              1
134           2  Cardiovascular              1
151           3  Cardiovascular              1
9             4  Cardiovascular              1
..          ...             ...            ...
195         245        Cosmetic              1
105         246        Cosmetic              1
148         247        Cosmetic              1
180         248        Cosmetic              1
221         249        Cosmetic              1

[250 rows x 3 columns]

### Room Capacity CSV Generation

In [19]:
import pandas as pd

def generate_room_capacities(num_rooms, num_days, hours_per_day):
    data = {
        'day': [],
        'room': [],
        'capacity': []
    }
    
    # Assuming the capacity is equal to the hours per day
    for day in range(1, num_days):
        for room in range(num_rooms):
            data['day'].append(day)
            data['room'].append(room)
            data['capacity'].append(hours_per_day)
    
    room_capacities = pd.DataFrame(data)
    return room_capacities

num_rooms = 3 
num_days = 60
hours_per_day = 8

room_capacities_df = generate_room_capacities(num_rooms, num_days, hours_per_day)
print(room_capacities_df)
room_capacities_df.to_csv("OR_caps.csv",index=False)

     day  room  capacity
0      1     0         8
1      1     1         8
2      1     2         8
3      2     0         8
4      2     1         8
..   ...   ...       ...
172   58     1         8
173   58     2         8
174   59     0         8
175   59     1         8
176   59     2         8

[177 rows x 3 columns]